.content__section {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    padding-bottom: 5rem;
    margin-bottom: 5rem;

}
.content__section:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.form__inner {
    display: flex;
    flex-wrap: wrap
}
.form__group {
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    font-size: 0
}
.form__column {
    width: 50%
}
.form__element {
    display: inline-block;
    box-sizing: border-box;
    padding: .4rem 1.6rem;
    width: 100%;
    border: none ;
    border-bottom: .2rem solid #eee;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    color: #000;


}
.field:focus {
    outline: none
}
.form__icon {
    position: absolute;
    top: .8rem;
    left: .5rem
}

.field:focus~.form__decor-line {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.field_valid~.form__icon:before {
    color:  #da8b37
}

.field_valid~.form__decor-line {
    background-color: #da8b37;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.field_invalid~.form__icon:before {
    color: #da8b37
}
.field_invalid~.form__decor-line {
    background-color: #da8b37;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.form__decor-line {
    width: 100%;
    height: .2rem;
    background-color: #da8b37;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate3d(-150%, 0, 0);
    transition: transform .5s ease-out;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.select {
    appearance: none
}
.select:focus {
    outline: none
}
.textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 5rem;
    max-height: 15rem
}

.button {
    font-family: 'Open Sans',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 0.7rem 2rem;
    text-align: center;
    min-width: 150px;
    background-color: #da8b37;
    cursor: pointer;
    transition: background-color .4s ease-out;
	border-radius: 17px;

}
.button:hover,.button:focus {
    background-color: #da9b37
}

p {
  text-indent: 25px;
	font-size: 14px;
	font-weight: 0;
	font-family: 'Open Sans';
	color: #da9b37;
}
