@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Reset CSS */
body,div,ul,ol,h1,h2,h3,h4,h5,h6,pre,
form,input,textarea,p {
  padding: 0;
  margin: 0;
}
a {
	text-decoration: none;
}
fieldset,img {
  border: 0;
}
address,caption,cite,code,em,strong {
  font-weight: normal;
  font-style: normal;
}
strong {
	font-weight: bold;
}
ol,ul {
  list-style: none;
  margin: 0;
}
caption {
  text-align: left;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color:#444;
}
q:before,q:after {
    content: '';
}

/* Custom CSS */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #333;
}
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100%;
  position: relative;
}
/* Responsive */
@media (max-width: 320px) {
  ul.menu li {
    display: block;
    height: 30px;
    padding-left: 30px;
  }
  ul.menu li a {
    display: block;
    border-bottom: 1px solid #999;
    font-size: .8rem;
    line-height: 30px;
  }
  ul.menu li:hover, ul.menu li.active {
    background-color: rgba(0, 0, 0, 0.15);
    line-height: 30px;
  }
  .menu-container {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 200px;
    right: -200px;
  }
  .menu-container.menu-open {
    right: 0px;
  }
  div.toggle-menu {
    padding: 5px 5px;
  }
  div.toggle-menu.active {
    padding-top: 10px;
    height: 15px;
    right: 200px;
}
  div.toggle-menu .icon-bar {
    height: 2px;
    width: 20px;
  }
  div.toggle-menu.active .icon-bar {
    margin-bottom: -2px;
}
  span.menu-text {
    font-size: .8em;
    line-height: 30px;
  }
  div.main {
    height: 200px;
  }
  div.heading {
    top: 70px;
    width: 260px;
    max-width: 90%;
  }
  div.title h1 {
    font-size: 1.1em;
    margin-bottom: 15px;
  }
  div.subtitle h3 {
    font-size: .6em;
  }
  div.subtitle img {
    width: 15px;
  }
  div.intro, div.intro-text,
  div.intro-text h3, div.arrow-button {
    height: 75px;
  }
  div.arrow-button {
    width: 65px;
  }
  div.intro-text h3 {
    width: 270px;
    max-width: 90%;
    font-size: .6em;
    line-height: 75px;
  }
  div.intro .intro-text img {
    width: 20px;
  }
  div.content {
    height: auto;
  }
  div.content .arrow-button,
  div.img1, div.img2 {
    display: block;
    width: 100%;
    height: 275px;
  }
  div.arrow-button img {
    width: 30px;
  }
  div.article h3 {
    font-size: 1em;
  }
  div.article-text {
    width: 260px;
    padding: 20px;
    padding-bottom: 100px;
  }
  div.section1 {
    display: block;
    width: 100%;
    font-size: .6em;
  }
  div.section2 {
    display: none;
  }
}
@media (min-width: 321px) and (max-width: 640px) {
  ul.menu li {
    display: block;
    padding-left: 30px;
  }
  .menu li a {
    display: block;
    border-bottom: 1px solid #999;
  }
  .menu li:hover, .menu li.active {
    background-color: rgba(0, 0, 0, 0.15);
  }
  .menu-container {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 300px;
    right: -300px;
  }
  .menu-container.menu-open {
    right: 0px;
  }
  div.main {
    height: 400px;
  }
  div.heading {
    top: 150px;
    width: 470px;
    max-width: 90%;
  }
  div.title h1 {
    font-size: 2em;
  }
  div.subtitle h3 {
    font-size: 1em;
  }
  div.subtitle img {
    width: 20px;
  }
  div.intro, div.intro-text,
  div.intro-text h3, div.arrow-button {
    height: 155px;
  }
  div.arrow-button {
    width: 135px;
  }
  div.intro-text h3 {
    width: 470px;
    max-width: 90%;
    font-size: 1em;
    line-height: 155px;
  }
  div.intro .intro-text img {
    width: 30px;
  }
  div.content {
    height: auto;
  }
  div.content .arrow-button,
  div.img1, div.img2 {
    display: block;
    width: 100%;
    height: 555px;
  }
  div.arrow-button img {
    width: 50px;
  }
  div.article-text {
    width: 470px;
    padding: 30px;
    padding-bottom: 100px;
  }
  div.section1 {
    display: block;
    width: 100%;
    font-size: .8em;
  }
  div.section2 {
    display: none;
  }
}
@media (min-width: 641px) and (max-width: 980px) {
  .menu-text {
   display: none;
  }
  .toggle-menu, .icon-bar {
    display: none;
  }
  div.main {
    height: 570px;
  }
  div.heading {
    top: 170px;
    max-width: 90%;
  }
  div.intro, div.intro-text,
  div.intro-text h3, div.arrow-button {
    height: 240px;
  }
  div.intro-text h3 {
    max-width: 90%;
  }
  div.content .arrow-button, div.content,
  div.img1, div.img2 {
    height: 290px;
  }
}
@media (min-width: 981px) {
  .menu-text {
   display: none;
  }
  .toggle-menu, .icon-bar {
    display: none;
  }
}
/*-----------------------------*/
.menu-container {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  background: #333;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu {
  width: 100%;
  font-size: 0;
}
.menu li {
  display: inline;
  width: 100%;
  height: 55px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.menu li:hover, .menu li.active {
  background-color: rgba(0, 0, 0, 0.15);
}
.menu li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 55px;
  padding: 0 30px;
}
.menu li a:hover {
  color: #bdbdbd;
  background: none;
}
.menu li .current-menu-item {
  color: #00bbeb;
}
.menu-text {
  width: 100%;
  line-height: 55px;
  padding-left: 30px;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background: #333;
  z-index: 999;
}

/* Toggle-menu */
.toggle-menu {
  top: 0;
  right: 0;
  height: 20px;
  position: fixed;
  cursor: pointer;
  padding: 17px 17px;
  background: #000;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.toggle-menu .icon-bar {
  height: 3px;
  display: block;
  width: 25px;
  opacity: 1;
  background: #fff;
  margin-bottom: 5px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  }
.toggle-menu.active {
  right: 300px;
  }
.toggle-menu .icon-bar:last-child {
  margin-bottom: 0;
  }
.toggle-menu .icon-bar.hide-closed {
  transition-duration: 0.4s;
  }
.toggle-menu.active {
  padding-top: 23px;
  height: 15px;
  }
.toggle-menu.active .icon-bar {
  margin-bottom: -3px;
  }
.toggle-menu.active .skew-clock {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  }
.toggle-menu.active .hide-closed {
  opacity: 0 !important;
  }
.toggle-menu.active .skew-counter {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }

/* Main */
.main {
  width: 100%;
  background: #10a8bd;
  height: 600px;
}
.heading {
  position: relative;
  top: 200px;
  width: 800px;
  margin: 0 auto;
}
.title h1 {
  color: #fff;
  font-size: 3.44em;
  margin-bottom: 30px;
}

.subtitle h3 {
  display: inline;
  color: rgba(255,255,255,0.6);
  font-size: 1.5em;
  padding: 25px 0;
}
.subtitle img {
  float: right;
}
/* Intro */
.intro {
  width: 100%;
  background: #27212c;
  height: 245px;
}
.intro-text {
  position: relative;
  height: 245px;
}
.intro-text h3 {
  display: block;
  font-size: 1.5em;
  width: 800px;
  margin: 0 auto;
  line-height: 245px;
  color: rgba(147, 131, 161, 0.8);
}
.arrow-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 225px;
  height: 245px;
  background: #bc3183;
}
.arrow-button a > img {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
/* Content */
.content {
  width: 100%;
  height: 295px;
}
.content .arrow-button {
  display: inline-block;
  position: relative;
  width: 33.4%;
  height: 295px;
  background: #5b0fa1;
}
.img1, .img2 {
  display: inline-block;
  background-size: cover;
  width: 33.3%;
  height: 295px;
}
.content .img1 {
  background-image: url("1.png");
}
.content .img2 {
  background-image: url("2.png");
}
/* Article */
.article {
  width: 100%;
  background: #ebebeb;
}
.article h3 {
  font-size: 1.5em;
  color: #088ca5;
  margin-bottom: 20px;
}
.article-text {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  padding-bottom: 100px;
}
.section1, .section2 {
  display: inline-block;
  font-size: .7em;
  width: 47%;
}
.article-text .section2 {
  float: right;
}
