// Colors
$black: #000 !default;
$white: #fff !default;
$purple: #684ee3 !default;
$lime: #c0ec59 !default;
$indigo: #0053d4 !default;
$blue: #2187f1 !default;
$cian: #54c4db !default;
$violet: #9a4fd8 !default;
$gold: #f4c466 !default;

body {
  --color-text: #{$white};
  --color-text-alt: #{darken($white, 15%)};
  --color-title: #{$black};
  --color-bg: #{$black};
  --color-link: #{$gold};
  --color-link-hover: #{$black};
  --cursor-stroke: #{$gold};
  --cursor-fill: none;
  --cursor-stroke-width: 1px;
  --cursor-text: #{$white};
  font-size: $base-value;
}
