:root {
  --color-text: #000;
  --color-text-alt: #848484;
  --color-title: #d3d3d3;
  --color-bg: #DCDCDC;
  --color-link: #E3154D;
  --color-link-hover: #000;
  --cursor-stroke: #E3154D;
  --cursor-fill: none;
  --cursor-stroke-width: 1px;
  --cursor-text: #000;
  font-size: $base-value;
}